@model Medicament
<div class="col">
    <div class="card medicament-card">
        <div class="sect-product-pic">
            <img src="@Model.ImageThumbnailUrl" class="card-img-top" alt="@Model.Name">
        </div>
        <div class="card-body medicament-button">
            <div class="d-grid">
                <a class="btn btn-secondary" 
                   asp-controller="ShoppingCart" 
                   asp-action="AddToShoppingCart"
                   asp-route-medicamentId="@Model.MedicamentId"> Добавить в корзину</a>
            </div>
            
            <div class="justify-content-between mt-2">
                <div class="text-start sect-product-name">
                    <a asp-controller="Medicament"
                       asp-action="Details"
                       asp-route-id="@Model.MedicamentId"
                       class="medicament-link">@Model.Name</a>
                </div>
                <div class="text-nowrap sect-product-price">
                    @Model.Price.ToString("c")
                </div>
            </div>
        </div>
    </div>
</div>